---
import Timeline from '../components/Timeline.astro';
import Title from '../components/Title.astro';
import Tooling from '../components/Tooling.astro';
import Layout from '../layouts/Layout.astro';
import Wrapper from '../layouts/Wrapper.astro';


---

<Layout title="About | Leeroy Garcia">
	<Wrapper>
		<main class="w-full flex flex-col gap-4">
			<!-- <div class="w-full flex flex-row justify-center items-center">
				<h1 class="text-2xl ">Experiencia</h1>
			</div> -->
			<Title title="About Me" />
			<div class="w-full">
				<p class="text-center text-white">
					I am passionate about technology and software development, with a strong desire to continuously learn. 
					I enjoy facing new challenges because I know that behind every obstacle lies an opportunity to grow, 
					improve my skills, 
					and become a better version of myself. I firmly believe that professional growth comes 
					from curiosity, perseverance, and the willingness to step out of one’s comfort zone. 
					That’s why I’m always 
					looking for projects that challenge me and push me to keep learning.
				</p>
			</div>
			<Title title="Experience Experience" />
	
			<div class="w-full flex flex-col justify-center gap-0">
				<Timeline 
					position={'Software Engineer'}
					company={'Academia Global'} 
					date={'May 2021 - Present'}
					description={`Responsible for the development and maintenance of web applications, both backend and frontend. Implemented Docker for containerization, optimizing infrastructure and deployment. Designed and managed REST APIs for service integration. Additionally, I have led key projects, ensuring their proper execution and delivery.`}
				/>
				<Timeline 
					position={'Frontend Developer (Freelance)'}
					company={'Weedox'} 
					date={'April 2024 - June 2024'}
					description={`Developed a frontend application for a CRM, focusing on implementing dynamic and optimized interfaces for user experience. Used modern technologies to ensure responsive, efficient, and scalable design.`}
				/>
				<Timeline 
					position={'Full Stack Web Developer (Freelance)'}
					company={'El Girasol'} 
					date={'March 2022 - October 2022'}
					description={`
						Created interfaces for web applications, designed and built databases, developed REST APIs, and implemented application containerization with Docker. Set up continuous deployment pipelines to optimize development and delivery processes.
					`}
				/>
			</div>
	
			<Tooling />
		</main>
	</Wrapper>
</Layout>
