---
import Layout from '../layouts/Layout.astro';
import Wrapper from '../layouts/Wrapper.astro';
---

<Layout title="Home | Leeroy Garcia">
	<Wrapper>
		<main class="relative w-full text-star-white">
			<div class="flex flex-row justify-center :items-center ">
				<div class="relative w-full overflow-hidden flex flex-row justify-center ">
					<img 
						class="2xl:w-5/12 xl:w-4/12 lg:w-6/12 md:w-8/12 sm:w-10/12 object-cover mask-gradient drop-shadow-custom-black" 
						src="/img/pp.png" 
						alt=""
					>
				</div>
			</div>
	
			<div class="w-full space-y-5 ">
				<p class="font-semibold text-center text-cosmic-purple tracking-wide">
					<span class="text-3xl" >Hi, I’m Leeroy. Nice to have you here!</span>
				</p>
				<p class="text-center dark:text-star-white lg:text-lg">
					Full-Stack Developer with 4+ years of experience. I’m passionate about programming and an enthusiast of photography.
				</p>
				<p class="text-center text-star-white lg:text-lg">
					If you’re looking for a developer or simply want to chat, feel free
					<a 
						class="font-bold no-underline text-cosmic-lilac 
						hover:cursor-pointer 
						"
						href="/contact"
					> to get in touch with me </a>
				</p>
			</div>
			<div class="flex flex-col justify-center items-center gap-2 font-normal mt-4">
				<a 
					class="w-1/2 hover:scale-105 transition duration-300 ease-in-out
						hover:shadow-md
					" href="/about">
					<button 
						class="w-full bg-gold-yellow text-blue-black 
							rounded-lg p-2 shadow-lg 
							font-semibold
							hover:cursor-pointer
							lg:text-lg
							"
					>About Me</button>
				</a>
				<a 
					class="w-1/2 hover:scale-105 transition duration-300 ease-in-out
						hover:shadow-md
					" 
					href="/contact"
				>
					<button class="w-full 
						bg-cosmic-purple text-blue-black 
						rounded-lg p-2 shadow-xl font-semibold hover:cursor-pointer
						lg:text-lg
						"
					>Get in Touch</button>
				</a>
			</div>
			<div 
				class="relative
					xl:mt-72 
					lg:mt-52 md:mt-40 sm:mt-20 xs:mt-32 2xs:mt-32 w-full flex flex-row justify-center bg-amber-50 z-0"
			>
				<img 
					class="absolute 
						lg:w-3/12 md:w-3/12 sm:w-6/12 2xs:w-7/12 
						drop-shadow-xl" 
					src="/img/icons/planet.png" 
					alt=""
				>

				<img 
					class="
						absolute 
						lg:w-2/12
						md:w-3/12 
						sm:w-4/12 
						xs:w-2/12 
						2xs:w-5/12 
						drop-shadow-xl animate-bounce -bottom-20" 
					src="/img/icons/spaceship_1794553_vertical.png" 
					alt=""
				>
			</div>
		</main>
	</Wrapper>
</Layout>