---
const { title, color = 'text-cosmic-purple' } = Astro.props;
console.log('colorrr', color);
---
<div class="w-full flex flex-row justify-center items-center">
    <h1 class={`text-3xl ${color} font-bold`}>{title}</h1>
</div>