---
import Projects from '../../components/Projects';
import Title from '../../components/Title.astro';
import Layout from '../../layouts/Layout.astro';
import Wrapper from '../../layouts/Wrapper.astro';

const projects = [
	{
		name: "Encuestas El Girasol",
		href: "/projects/elgirasol",
		img: "/img/img_projects/elgirasol/1.png",
		role: "Full Stack Web Developer"
	},
	{
		name: "ERP Academia Global",
		href: "/projects/ag",
		img: "/img/img_projects/erp_ag/main.png",
		role: "Full Stack Web Developer"
	},
	{
		name: "Modulo de CRM Wedoox",
		href: "/projects/wedoox",
		img: "/img/img_projects/crm_wedoox/1.png",
		role: "Frontend Developer"
	}
];
---

<Layout title="Projects | Leeroy Garcia">
	<Wrapper>
		<main class="p-4">
			<!-- <h2 class="text-3xl font-extrabold text-white">Proyectos</h2> -->
			<Title title="Proyectos" />
			<Projects projects={projects} client:load />
		</main>
	</Wrapper>
</Layout>
