---
import Botbar from '../components/Botbar'
import Sidebar from '../components/Sidebar';
import Topbar from '../components/Topbar.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ClientRouter />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-cBackdrop font-display">
		<!-- <Topbar /> -->
		<div class="lg:hidden">
			 <Botbar client:load />
		</div>
		<div class="max-lg:hidden ">
			<div class="fixed top-0 left-0 w-[20%] h-screen overflow-y-auto bg-gray-100">
				<Sidebar client:load />
			</div>
			<div class="ml-[20%] overflow-y-scroll h-screen">
				<slot />
			</div>

		</div>
		<div 
			class={` 
				min-h-svh 
				overflow-y-scroll
				lg:hidden
				`
		}>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	@tailwind utilities;
	html {
		font-family: 'monserrat';
	}

	body {
		font-family: 'Montserrat Variable', sans-serif;
	}

	@layer utilities{
		.h-csidebar{
			height: calc(100svh - 3.5rem);
		}

		.drop-shadow-custom-black {
			filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.9));
		}
		
	}
</style>
<script>
	if (
	  localStorage.getItem('theme') === 'dark' ||
	  (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
	) {
	  document.documentElement.classList.add('dark');
	} else {
	  document.documentElement.classList.remove('dark');
	}
  </script>
